<div class="container">
  <div class="container__parts" *ngFor="let info of passengers">
      <app-header-card></app-header-card>
    <ul class="container__list">
      <span class="container__info">
        <img
          class="container__info-img"
          alt="image"
          src="{{ info.image }}"
        />
        <article>
          <h3 class="container__info-name">{{ info.name }}</h3>
          <p class="container__info-interactions">4 interactions</p>
        </article>
      </span>
      <li class="container__list-info">
        EMAIL
        <p class="container__list-info--data">{{ info.email }}</p>
      </li>
      <li class="container__list-info">
        PHONE
        <p class="container__list-info--data">{{ info.phone }}</p>
      </li>
      <li class="container__list-info">
        LOCATION
        <p class="container__list-info--data">{{ info.location }}</p>
      </li>
    </ul>
    <app-user-pay-zone></app-user-pay-zone>
    <app-user-tour></app-user-tour>
  </div>
</div>
