@import '../../../../styles/colors';
@import '../../../../styles/responsive';

ul {
    padding: 0;
    list-style: none;
}

li, p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap:wrap-reverse;

    &__parts {
        width: 375px;
        display: flex;
        flex: row;
        flex-wrap: wrap;
        box-shadow: 0px 0px 20px 10px #dcdcdc;
        margin: 2rem;
        padding: 1rem;
        border-radius: 2rem;
        @include desktop {
            width: 45rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        width: 300px;

        &-name {
            font-size: 12px;
            font-weight: bold;
            margin: 0px;
            margin-top: 0.5rem;
            margin-left: 0.5rem;

            @include desktop {
                font-size: 16px;
            }
        }

        &-img {
            width: 40px;
            height: 40px;
            border-radius: 30px;
            @include desktop {
                width: 60px;
                height: 60px;
            }
        }

        &-interactions {
            font-size: 12px;
            margin: 0px;
            margin-left: 0.5rem;
            color: $secondarycolor;
            @include desktop {
                font-size: 16px;
            }
        }
    }

    &__list {
        font-size: 12px;
        @include desktop {
            font-size: 16px;
        }

        &-info {
            margin: 0.5rem;
            color: $secondarycolor;

            &--data {
                color: $primarycolor;
            }
        }
    }
}
