@import "../../../styles/_responsive.scss";

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @include tablet {
        width: 100%;
    }
}