@import "../styles/_responsive.scss";

%basebuttonmobile {
    width: 100px;
    height: 50px;
    background-color: white;
    color: white;
    outline: none;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 0.8rem;
    margin: 5px;
    &:hover {
      background-color: rgb(19, 86, 255);
    }

    @include desktop {
      width: 200px;
      height: 100px;
    } 

}