<div class="tour">

    <div class="tour__partone">
        <section class="tour__section">
            <img class="tour__icons" alt="validate" src="../../../assets/icons/check.svg">
            <div class="tour__line"></div>
            <img class="tour__icons" alt="validate" src="../../../assets/icons/check.svg">
        </section>
        <section class="tour__address">
            <div class="tour__address-one">
                <p class="tour__address-one--site">Jackson Heigths</p>
                <address class="tour__address-one--direction">37-27 74th Street</address>
             </div>
        <div class="tour__address-two">
            <p class="tour__address-two--site">Green Points</p>
            <address class="tour__address-two--direction">81 Gate St Brooklyn</address>

        </div>
        </section>
    </div>

    <div class="tour__details">
        <div class="tour__details-section">
            <article class="tour__details-section--info">12.3km</article>
            <p class="tour__details-section--title">Distance</p>
        </div>
        <div  class="tour__details-section">
            <article class="tour__details-section--info">42 min</article>
            <p class="tour__details-section--title">Time</p>
        </div>
        <div  class="tour__details-section">
            <article class="tour__details-section--info">$34.20</article>
            <p class="tour__details-section--title">Price</p>
        </div>
        <div  class="tour__details-section">
            <article class="tour__details-section--info">12.4 kWh</article>
            <p class="tour__details-section--title">Energy</p>
        </div>
    </div>

</div>
