@import '../../../../../styles/colors';
@import '../../../../../styles/responsive';

p {
    margin: 0;
}

.tour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 2rem;
    margin-bottom: 2rem;
  

    @include desktop {
        font-size: 16px;
        margin-left: 4rem;
        margin-bottom: 4rem;
    }

    &__section {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__line {
        width: 8rem;
        border-bottom: 1px solid $secondarycolor;
        margin-left: 1rem;
        margin-right: 1rem;
        @include desktop {
            width: 18rem;
        }
    }

    &__partone {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    &__icons {
        width: 1.5rem;
    }

    &__address {
        display: flex;
        flex-direction: row;

        &-one {
            width: 10rem;
            @include desktop {
                width: 20rem;
            }

            &--site {
                color: $primarycolor;
            }

            &--direction {
                color: $secondarycolor;
            }
        }

        &-two {
            width: 10rem;
            @include desktop {
                width: 20rem;
            }

            &--site {
                color: $primarycolor;
            }

            &--direction {
                color: $secondarycolor;
            }
        }
    }

    &__details {
        display: flex;
        flex-direction: row;

        &-section {
            width: 5rem;
            @include desktop {
                width: 10rem;
            }

            &--title {
                color: $secondarycolor;
            }

            &--info {
                color: $primarycolor;
            }
        }
    }

}