@import "../../../../../styles/elements";
@import "../../../../../styles/responsive";

.payzone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 220px;

    @include desktop {
        width: 420px;
    }

    &__paypal {
        background-image: url(../../../../../assets/buttonsicons/paypal-off.svg);
        background-position: center center;
        background-size: 4rem;
        background-repeat: no-repeat;
        @extend %basebuttonmobile;
        &:hover {
            background-image: url(../../../../../assets/buttonsicons/paypal-on.svg);
        }
    }
    &__visa {
        background-image: url(../../../../../assets/buttonsicons/visa-off.svg);
        background-position: center center;
        background-size: 3rem;
        background-repeat: no-repeat;
        @extend %basebuttonmobile;
        &:hover {
            background-image: url(../../../../../assets/buttonsicons/visa-on.svg);
        }
    }
    &__mastercard {
       background-image: url(../../../../../assets/buttonsicons/mastercard-off.svg);
        background-position: center center;
        background-size: 3rem;
        background-repeat: no-repeat;
        @extend %basebuttonmobile;
        &:hover {
            background-image: url(../../../../../assets/buttonsicons/mastercard-on.svg);
        }
    }
    &__applepay {
        background-image: url(../../../../../assets/buttonsicons/apple-off.svg);
        background-position: center center;
        background-size: 2rem;
        background-repeat: no-repeat;
        @extend %basebuttonmobile;
        &:hover {
            background-image: url(../../../../../assets/buttonsicons/apple-on.svg);
        }
    }
}
