<div class="payzone">
    <button class="payzone__paypal"></button>
    <button class="payzone__visa"></button>
    <button class="payzone__mastercard"></button>
    <button class="payzone__applepay"></button>
</div>