@import '../../../styles/colors';
@import '../../../styles/responsive';


.information-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 22rem;

    @include desktop {
        width: 40rem;
    }
    &__title {
        color: $secondarycolor;
    }

    &__hide {
        color: $primarycolor;
    }
}